{% load static i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
    <style>
        .filter_panel ul {
            max-height: 210px; /* 设置最大高度，超过部分将显示滚动条 */
            overflow-y: auto; /* 添加垂直滚动条 */
        }
    </style>
{% endblock %}

<div class="filter_panel">
    <div class="mb-3">
        <span class="h6">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</span>
    </div>

    <ul class="">
        {% for choice in choices %}
            <li{% if choice.selected %} class="text-success selected"{% endif %}>
                <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
